.col{
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .row{
    margin: 0px !important;
  }
  
  .sidebar{
    margin-left: 60px !important;
  }
  
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #000;
    font-size: 14px !important;
  }
  
  .button-overlay{
    background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none !important;
    cursor:pointer !important;
    overflow: hidden !important;
    outline:none !important;
    color: #000 !important;
  }
  
  
  .overlay-container {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }
  
  .overlay-container:hover .image {
    opacity: 0.3;
  }
  
  .overlay-container:hover .overlay-text {
    opacity: 0.8;
  }
  
  .text {
    opacity: 1;
    color: white;
    /* font-size: 30px !important; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  p{
    font-size: 14px !important;
    cursor: pointer;
  }
  
  span{
    cursor: pointer;
  }